# Copyright (C) 2020 Dremio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# Projectnessie GitHub Pull-Request / Default CI

name: Apprunner CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.head_commit.id }}-${{ github.event.pull_request.head.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  java:
    name: CI Java/Maven
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        java-version: ['11', '17', '20']

    steps:
    - uses: actions/checkout@v4
    - name: Setup Java, Maven, Gradle
      uses: ./.github/actions/dev-tool-java
      with:
        java-version: ${{ matrix.java-version }}

    - name: Build with Maven
      env:
        SPARK_LOCAL_IP: localhost
      run: |
        ./mvnw --batch-mode --threads 1C install javadoc:javadoc-no-fork -Pcode-coverage -Dtest.log.level=WARN

    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2
      env:
        GRADLE_BUILD_ACTION_CACHE_KEY_ENVIRONMENT: java-${{ matrix.java-version }}
      with:
        build-root-directory: ./gradle-plugin
        # -Pcode-coverage would enable Jacoco, but Gradle's testkit doesn't like Java agents,
        # see https://docs.gradle.org/8.0.2/userguide/configuration_cache.html#config_cache:not_yet_implemented:testkit_build_with_java_agent
        arguments: build --scan

    - name: Capture test results
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: test-results
        path: |
          **/target/surefire-reports/*
          **/target/failsafe-reports/*
          **/build/reports/*
          **/build/test-results/*

    - uses: codecov/codecov-action@v4
      if: matrix.java-version == '11'
      with:
        fail_ci_if_error: false
        flags: java
        files: code-coverage/target/site/jacoco-aggregate-all/jacoco.xml,gradle-plugin/build/reports/jacoco/codeCoverageReport/codeCoverageReport.xml
